<?xml version="1.0" encoding="UTF-8"?>

<web-app 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xmlns="http://java.jcp.com/xml/ns/javaee" 
		xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd" 
		version="3.1">
		
  <servlet>
    <servlet-name>ServletVendreArticle</servlet-name>
    <servlet-class>fr.eni.enchere.servlet.ServletVendreArticle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletVendreArticle</servlet-name>
    <url-pattern>/AjouterUneEnchere</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AjoutUtilisateur</servlet-name>
    <servlet-class>fr.eni.enchere.servlet.AjoutUtilisateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjoutUtilisateur</servlet-name>
    <url-pattern>/Inscription</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>connectionUtilisateur</servlet-name>
    <servlet-class>fr.eni.enchere.servlet.connectionUtilisateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>connectionUtilisateur</servlet-name>
    <url-pattern>/Connexion</url-pattern>
  </servlet-mapping>
  

  <jsp-config>
      <jsp-property-group>
          <url-pattern>*.jsp</url-pattern>
          <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
      </jsp-property-group>
  </jsp-config>
  
</web-app>